.sidebar-admin{
    width: 250px;
    height: 100%;
    background-color: #282A36;
}
.sidebar-admin h1{
    margin: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(223, 223, 223, 0.185);
}
.sidebar-admin ul{
    width: 100%;
}
.sidebar-admin li ion-icon{
    color: #fafafa;
    margin-right: 15px;
}
.sidebar-admin a{
    height: 50px;
    width: 100%;

    display: flex;
    align-items: center;

    color: #fafafa;
    padding-left: 25px;
    cursor: pointer;

    font-weight: 500;
    font-size: 1.2rem;
}
.sidebar-admin a:hover{
    background-color: rgba(0, 0, 0, 0.137);
}
.sidebar-admin a.selected{
    background: linear-gradient(to left, rgba(137, 43, 226, 0.411), rgba(0, 0, 0, 0));
    border-right: 3px solid rgb(132, 0, 255);
    color: blueviolet;
    font-weight: 700;
}
.sidebar-admin a.selected ion-icon{
    color: blueviolet;
}