.signup{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signup h1{
    color: black;
}
.signup-logo{
    margin-bottom: 30px;
}
.row{
    display: flex;
    align-items: center;
}
.signup .email-container, .name-container, .password-container, .confirm-password-container{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.signup label{
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.signup input{
    width: 335px;
    height: 50px;
    background-color: black;
    border-radius: 3px;
    border: none;
    color: white;
    outline: none;
    font-weight: 500;
    padding: 0px 15px;
    font-size: 1.2rem;
    border-left: 6px solid blueviolet;
    transition: box-shadow 0.2s;
}
.signup input:focus{
    box-shadow: 0px 0px 26px 0px rgba(137, 43, 226, 0.342);
}
.signup input::placeholder{
    color: white;
}
.signup button{
    width: 335px;
    height: 50px;
    background-color: black;
    border-radius: 3px;
    border: none;
    color: white;
    outline: none;
    font-weight: 700;
    padding: 0px 15px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: box-shadow 0.2s;
    margin: 20px 0;
}
.signup button:hover{
    box-shadow: 0px 0px 26px 0px rgba(137, 43, 226, 0.342);
}
.signin{
    display: flex;
    align-items: center;
}
.signin a{
    text-decoration: none;
    font-weight: 400;
    margin: 0px 25px;
    color: black;
    font-size: 0.8rem;
}