.header{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}
.content-logo{
    margin-left: 5%;
}
.logo{
    width: 150px;
}
.user-content{
    margin-right: 10%;
    display: flex;
    align-items: center;
}
.content-login, .content-profile, .content-logout{
    width: auto;
    height: 50px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    cursor: pointer;
    border-radius: 4px;
}
.content-profile{
    margin-left: 15px;
    cursor: auto;
}
.content-login:hover, .content-logout:hover{
    background-color: rgba(177, 177, 177, 0.486);
}
.content-profile img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: white;
    margin-right: 15px;
}