.article{
    width: 70%;
    margin-top: 50px;
}
.header-article{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(202, 202, 202, 0.178);
}
.title-container{
    display: flex;
    align-items: center;
}
.title-container ion-icon{
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
}
.interactions-container{
    display: flex;
    align-items: center;
}
.comments, .likes, .category{
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.category{
    background-color: black;
    padding: 5px 15px;
    border-radius: 50px;
}
.comments button, .likes button{
    width: auto;
    background: none;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    outline: none;
}
.header-article button ion-icon{
    color: black;
    font-size: 2rem;
    margin: 0;
    transition: all 0.3s;
}
.comments p, .likes p{
    color: black;
    font-size: 1.5rem;
    font-weight: 400;
}
.likes.liked ion-icon, .likes.liked p{
    color: red;
}
.buttons-container{
    display: flex;
}
.buttons-container button{
    width: 100px;
    height: 30px;
    color: white;
    background-color: black;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.2s;
}
.buttons-container button:nth-child(1){
    margin-right: 5px;
}
.buttons-container button:hover{
    box-shadow: 0px 0px 26px 0px rgba(137, 43, 226, 0.342);
}
.buttons-container button ion-icon{
    color: white;
    margin-right: 10px;
    font-size: 1.3rem;
}
.article-title{
    color: black;
}
.content-article{
    height: 70vh;
    font-weight: 400;
    text-align: justify;
    overflow-y: auto;
    margin-top: 20px;
    padding-right: 15px;
    color: black;
}
.content-article > * {
    color: black;
}
.content-article::-webkit-scrollbar{
    width: 7px;
}
.content-article::-webkit-scrollbar-thumb{
    background-color: black;
}
.comment-form{
    width: 100%;
    height: 400px;
    margin-top: 25px;
}
.comment-form h1{
    color: black;
    margin-bottom: 15px;
}
.comment-form textarea{
    width: 100%;
    height: 300px;
    resize: none;
    margin-bottom: 10px;
    border: none;
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: 15px;
    font-weight: 400;
    font-size: 1.3rem;
    outline: none;
    transition: box-shadow 0.2s;
}
.comment-form textarea::placeholder{
    color: white;
}
.comment-form textarea:focus{
    box-shadow: 0px 0px 26px 0px rgba(137, 43, 226, 0.342);
}
.comment-form button{
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
    border: none;
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow 0.2s;
}
.comment-form button:hover{
    box-shadow: 0px 0px 26px 0px rgba(137, 43, 226, 0.342);
}
.coments-container{
    margin-top: 50px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.coments-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(202, 202, 202, 0.178);
}
.coments-header h1{
    color: black;
}
.coments-header ion-icon{
    cursor: pointer;
    color: black;
    font-size: 2rem;
}
.coments{
    display: block;
}
.coment{
    width: 100%;
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}
.coment.my{
    border: 2px solid black;
}
.coment img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 15px;
}
.coment .header-coment{
    display: flex;
    align-items: center;
}
.header-coment h1, .header-coment p{
    color: black;
    margin-top: 5px;
}
.content-coment{
    margin-top: 15px;
    margin-left: 65px;
    margin-right: 15px;
}
.content-coment p{
    text-align: justify;
    color: black;
}
@media(max-width: 1200px){
    .article-content{
        margin: 0 50px 50px 50px;
    }
}
@media(max-width: 500px){
    .article-content{
        margin: 0;
        padding: 25px;
    }
    .article-header{
        flex-direction: column;
        align-items: flex-start;
    }
    .interactions-container{
        margin-top: 15px;
        font-size: 1.5rem;
    }
    .comments{
        margin-right: 10px;
    }
    .close{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        background-color: rgb(236, 0, 0);
        border-radius: 3px;
    }
}